@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0b0b0b;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px; /* Добавляем закругление углов */
    background-color: rgba(17, 17, 17, 0.8); /* Прозрачный фон контейнера */
}

header {
    background-color: #111;
    padding: 20px;
    text-align: center;
}

.title-container {
    position: relative;
}

h1, h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.glitch {
    position: relative;
    display: inline-block;
    color: #fff;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.glitch::before {
    left: 2px;
    text-shadow: -2px 0 red;
    animation: glitch 2s infinite linear alternate-reverse;
}

.glitch::after {
    left: -2px;
    text-shadow: 2px 0 blue;
    animation: glitch 3s infinite linear alternate-reverse;
}

@keyframes glitch {
    0% {
        clip: rect(17px, 9999px, 29px, 0);
    }
    5%, 7% {
        clip: rect(1px, 9999px, 19px, 0);
    }
    10%, 100% {
        clip: rect(12px, 9999px, 6px, 0);
    }
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

footer {
    background-color: #111;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 0.9em;
}
